<div class="row">
  <% products.each do |product| %>
    <div class="col-sm-4 col-xs-12">
      <div class="productBox">
        <%= link_to potepan_product_path(product.id) do %>
          <div class="productImage clearfix">
            <% if product.images.first.nil? %>
              <%= image_tag 'products/products-01.jpg', alt: "products-img" %>
            <% else %>
              <%= image_tag product.images.first.url(:large), alt: "products-img" %>
            <% end %>
          </div>
          <div class="productCaption clearfix">
            <h5><%= product.name %></h5>
            <h3><%= product.display_price %></h3>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
