<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="productBox">
    <%= link_to potepan_product_path(related_product.id) do %>
      <div class="productImage clearfix">
        <% if related_product.images.first.present? %>
          <%= image_tag related_product.images.first.url(:large), alt: 'products-img' %>
        <% else %>
          <%= image_tag 'img/products/products-01.jpg', alt: 'products-img' %>
        <% end %>
      </div>
      <div class="productCaption clearfix">
        <h5><%= related_product.name %></h5>
        <h3><%= related_product.display_price %></h3>
      </div>
    <% end %>
  </div>
</div>
