<!DOCTYPE html>
<html lang="ja">
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= render 'layouts/template' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <div class="main-wrapper">
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
   <%= javascript_include_tag 'application' %>
</body>
</html>
